/*google font for julias sans*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body{
    background-color: #FAFAFA;
}

.navheader {
    background-color: #FAFAFA;
    border-bottom: 1px solid #E5E7EB;   
}

.navheader nav {
    padding-top: 62px;
    padding-bottom: 62px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;           
}

/*adjust spacing of links*/
.navlinks {
    list-style: none;
    display: flex;
    justify-content: center; 
    gap: 205px;             
    margin: 0;
    padding: 0;
}

/*adjust link specfics*/
.navlinks a {
    font-family: "Julius Sans One", sans-serif;
    color: #1F2937;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
}

.navlinks a:hover {

}

/*----------------Hero Section---------------------*/

.hero-section {
    background: #FFFDFD; 
    padding: 80px 0;
    text-align: center;
    margin-top: 40px;  
}

/* Name text */
.hero-name {
    font-family: "Julius Sans One", sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    color: #1F2937;
    margin-bottom: 25px;
}

.hero-info {
    font-family: "Julius Sans One", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #1F2937;
    margin-bottom: 20px;
}

.hero-contactlink {
    font-family: "Julius Sans One", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #1F2937;
    text-decoration: none;
}

/* ------------------ Featured Work Section ------------------ */

.featured_work {
    margin-top: 40px;               
    background-color: #FAFAFA;      
    padding: 100px 0;
}

.featured_work-inner {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.featured_work-title {
    font-family: "Julius Sans One", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #1F2937;
    margin-bottom: 60px;
    text-align: left;
    margin-left: -100px;
}

.project-row {
    display: flex;
    align-items: center;
    gap: 270px;                 
    margin-bottom: 60px;
}

.project-image img {
    width: 180px;
    height: 180px;
    object-fit: cover;     
    border-radius: 4px;   
}

.project-description {
    font-family: "Julius Sans One", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: #1F2937;
}